<div class="as-search-wrapper" role="main">
  <div class="as-navtuck-wrapper">
    <div class="as-l-fullwidth as-navtuck" data-events="event52">
      <div>
        <div class="pd-billboard pd-category-header">
          <div class="pd-l-plate-scale">
            <div class="pd-billboard-background">
              <img
                src="./assets/music-audio-alp-201709"
                alt=""
                width="1440"
                height="320"
                data-scale-params-2="wid=2880&amp;hei=640&amp;fmt=jpeg&amp;qlt=95&amp;op_usm=0.5,0.5&amp;.v=1503948581306"
                class="pd-billboard-hero ir"
              />
            </div>
            <div class="pd-billboard-info">
              <h1 class="pd-billboard-header pd-util-compact-small-18">Tienda
                e-commerce</h1>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div
    class="as-search-results as-filter-open as-category-landing as-desktop"
    id="as-search-results"
  >

    <div id="accessories-tab" class="as-accessories-details">
      <div class="as-accessories" id="as-accessories">
        <div class="as-accessories-header">
          <div class="as-search-results-count">
            <span class="as-search-results-value"></span>
          </div>
        </div>
        <div class="as-searchnav-placeholder" style="height: 77px;">
          <div
            class="row as-search-navbar"
            id="as-search-navbar"
            style="width: auto;"
          >
            <div class="as-accessories-filter-tile column large-6 small-3">

              <a
                class="as-filter-button"
                aria-expanded="true"
                aria-controls="as-search-filters"
                type="button"
                href="/"
              >
                <h2 class="as-filter-button-text">
                  Pago pendiente.
                </h2>
                <h5> volver a la tienda &lt;&lt; </h5>
              </a>

            </div>

          </div>
        </div>
        <div class="as-accessories-results as-search-desktop">
          <div class="width:60%">
            <div
              class="as-producttile-tilehero with-paddlenav"
              style="float:left;"
            >
              <div class="as-dummy-container as-dummy-img">

                <img
                  src="./assets/wireless-headphones"
                  class="ir ir item-image as-producttile-image"
                  style="max-width: 70%;max-height: 70%;"
                  alt=""
                  width="445"
                  height="445"
                />
              </div>
              <div class="images mini-gallery gal5">

                <div class="as-isdesktop with-paddlenav with-paddlenav-onhover">
                  <div
                    class="clearfix image-list xs-no-js as-util-relatedlink relatedlink"
                    data-relatedlink="6|Powerbeats3 Wireless Earphones - Neighborhood Collection - Brick Red|MPXP2"
                  >
                    <div class="as-tilegallery-element as-image-selected">
                      <div class=""></div>
                      <img
                        src="./assets/003.jpg"
                        class="ir ir item-image as-producttile-image"
                        alt=""
                        width="445"
                        height="445"
                        style="content:-webkit-image-set(url({{img}}) 2x);"
                      />
                    </div>

                  </div>

                </div>

              </div>

            </div>
            <div
              class="as-producttile-info"
              style="float:left;min-height: 168px;"
            >
              <ul>
                <li>
                  <div class="inline-detail"><h3>Collection Id</h3>
                    <h5 class="subtitle-detail"> {{collection_id}}</h5></div>
                </li>
                <li>
                  <div class="inline-detail"><h3>Collection Status</h3>
                    <h5 class="subtitle-detail"> {{collection_status}}</h5></div>
                </li>
                <li>
                  <div class="inline-detail"><h3>Payment Id</h3>
                    <h5 class="subtitle-detail"> {{payment_id}}</h5></div>
                </li>
                <li>
                  <div class="inline-detail"><h3>Collection Id</h3>
                    <h5 class="subtitle-detail"> {{collection_id}}</h5></div>
                </li>
                <li>
                  <div class="inline-detail"><h3>Status</h3>
                    <h5 class="subtitle-detail"> {{status}}</h5></div>
                </li>
                <li>
                  <div class="inline-detail"><h3>External Reference</h3>
                    <h5 class="subtitle-detail"> {{external_reference}}</h5></div>
                </li>
                <li>
                  <div class="inline-detail"><h3>Collection Id</h3>
                    <h5 class="subtitle-detail"> {{collection_id}}</h5></div>
                </li>
                <li>
                  <div class="inline-detail"><h3>Payment Type</h3>
                    <h5 class="subtitle-detail"> {{payment_type}}</h5></div>
                </li>
                <li>
                  <div class="inline-detail"><h3>Merchant Order Id</h3>
                    <h5 class="subtitle-detail"> {{merchant_order_id}}</h5></div>
                </li>
                <li>
                  <div class="inline-detail"><h3>Preference Id</h3>
                    <h5 class="subtitle-detail"> {{preference_id}}</h5></div>
                </li>
                <li>
                  <div class="inline-detail"><h3>Site Id</h3>
                    <h5 class="subtitle-detail"> {{site_id}}</h5></div>
                </li>
                <li>
                  <div class="inline-detail"><h3>Processing Mode</h3>
                    <h5 class="subtitle-detail"> {{processing_mode}}</h5></div>
                </li>
                <li>
                  <div class="inline-detail"><h3>Merchant Account Id</h3>
                    <h5 class="subtitle-detail"> {{merchant_account_id}}</h5></div>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>